/*! -- Dropdown styles----------------------------- */
.dropdown {
	width: 100%;
	max-width: 310px;
	position: relative;

	&:hover {
		.dropdown-main-link {
			background-color: $dark-50;
			svg {
				transform: rotate(180deg);
			}
		}

		.dropdown__content {
			display: block;
		}
	}

	&__content {
		position: absolute;
		top: 72px;
		left: 0;
		right: 0;
		z-index: 1;
		display: none;
		padding: 8px 40px 24px;
		background-color: $dark-50;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	&__phone-box {
		display: flex;
		flex-direction: column;
		margin: 0px 0px 24px 0px;
		p {
			margin: 0px 0px 8px 0px;
			color: $dark-500;
			font-size: 12px;
			letter-spacing: 0.24px;
			text-transform: uppercase;
			text-align: center;
		}
		a {
			display: flex;
			align-items: center;
			flex-direction: row;
			text-align: center;
			column-gap: 8px;
			justify-content: center;
			color: $dark-700;
			font-size: 16px;
			font-weight: 700;
			line-height: 1.4;
		}
	}
	.btn-full {
		color: $dark-50;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.4;
		letter-spacing: 0.26px;
		text-transform: uppercase;
	}
	&__social {
		margin: 24px 0px 0px 0px;
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 8px;
		a {
			display: flex;
		}
		p {
			color: $dark-500;
			font-size: 12px;
			letter-spacing: 0.24px;
			text-transform: uppercase;
		}
	}
}
