@font-face {
	font-family: IstokWeb;
	font-display: swap;
	src: url("../fonts/IstokWeb-Regular.woff2") format("woff2"), url("../fonts/IstokWeb-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: IstokWeb;
	font-display: swap;
	src: url("../fonts/IstokWeb-Bold.woff2") format("woff2"), url("../fonts/IstokWeb-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: IstokWeb;
	font-display: swap;
	src: url("../fonts/IstokWeb-BoldItalic.woff2") format("woff2"),
		url("../fonts/IstokWeb-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Ubuntu;
	font-display: swap;
	src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: IstokWeb;
	font-display: swap;
	src: url("../fonts/IstokWeb-Italic.woff2") format("woff2"), url("../fonts/IstokWeb-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
