// @import "fonts";
@import "base/mixins";

$fontFamily: "Istok Web", sans-serif;
$fontSize: 18px;

$orange-source: rgba(229, 88, 40, 1);
$orange-700: rgba(111, 26, 0, 1);
$orange-600: rgba(153, 38, 0, 1);
$orange-500: rgba(192, 58, 11, 1);
$orange-400: rgba(225, 86, 39, 1);
$orange-300: rgba(250, 120, 74, 1);
$orange-200: rgba(255, 157, 118, 1);
$orange-100: rgba(255, 197, 171, 1);
$orange-50: rgba(255, 249, 246, 1);
$dark-source: rgba(22, 22, 22, 1);
$dark-700: rgba(57, 57, 57, 1);
$dark-600: rgba(81, 81, 81, 1);
$dark-500: rgba(105, 105, 105, 1);
$dark-400: rgba(131, 131, 131, 1);
$dark-300: rgba(158, 158, 158, 1);
$dark-200: rgba(186, 186, 186, 1);
$dark-100: rgba(214, 214, 214, 1);
$dark-50: rgba(251, 251, 251, 1);
$white-source: #fff;

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1180px;
$md1: 1199px;
$md2: 1024px;
$md3: 767px;
$md4: 575px;

@import "base/null";

body {
	&.lock {
		overflow: hidden;
	}
	font-size: $fontSize;
	font-weight: 400;
	line-height: 1.4;
	color: $dark-700;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 32px;
	@media (max-width: $md1) {
		max-width: 100%;
	}
	@media (max-width: $md2) {
	}
	@media (max-width: $md3) {
	}
	@media (max-width: $md4) {
	}
}

.title {
	font-size: 40px;
	font-weight: 700;
	line-height: 1;
	span {
		color: $orange-source;
	}
}

.subtitle {
	font-size: 24px;
}

.content {
	flex: 1 1 auto;
	background-color: #fff;
	position: relative;
	z-index: 1;
}

@media (max-width: $md1) {
	.title {
		font-size: 28px;
	}

	.subtitle {
		font-size: 18px;
	}
}

@import "base/badge";
@import "base/swiper";
@import "base/buttons";
@import "base/inputs";
@import "base/forms";
@import "base/accordion";
@import "base/scrollbar";
@import "blocks/header";
@import "blocks/benefits";
@import "blocks/cta";
@import "blocks/advantages";
@import "blocks/cta-additionally";
@import "blocks/logo";
@import "blocks/reviews";
@import "blocks/faq";
@import "blocks/footer";
